main {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
}
header {
    background-color: antiquewhite;
}
.pcexpress {
    width: 100px;
}
.villman {
    width: 100px;
}
.octagon {
    width: 100px;
}